.add-wrapper {
	margin-top: 20px;
	padding: 5px;
}

.add-wrapper p:first-child {
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
}

.add-wrapper .add-info-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.add-info-wrapper label {
	width: 300px;
}

.add-info-wrapper select, .add-info-wrapper input {
	width: calc(100% - 300px);
}

.add-wrapper form textarea {
	display: block;
	width: 100%;
	min-height: 200px;
}

.add-wrapper form input[type="submit"] {
	display: block;
	width: 150px;
	margin: 0 auto;
}