.animal-wrapper {
	margin-top: 10px;
	min-height: 500px;
	/*border: 1px solid black;*/
}

.animal-wrapper .short-info-wrapper {
	/*border: 1px solid red;*/

	/*display: flex;*/
}

/*.animal-wrapper .short-info-wrapper .photo-wrapper {
	width: 50%;
	float: left;

	border: 2px solid pink;
}*/

.short-info-wrapper .photo-wrapper img {
	max-width: 40%;
	float: left;

	padding: 10px;
}

.animal-wrapper .short-info-wrapper .info-wrapper {
	width: 55%;
	float: left;

	margin: 10px;
	margin-top: 20px;

	/*border: 2px solid gray;*/
}

.animal-wrapper .description-wrapper {
	margin-top: 10px;
	/*border: 1px solid green;*/
	padding: 5px;
	text-indent: 10px;
}

.animal-wrapper {
	font-size: 16px;
}


.info-wrapper p.name {
	text-align: center;
	font-style: italic;
	font-size: 1.4em;
	font-weight: bold;
}