footer {
	width: 100%;
	height: 120px;
	background-color: black;
	margin-top: 20px;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

footer p {
	color: white;
}

footer p a {
	background-color: #597da3;
	color: white;
	padding: 10px;
	border-radius: 5px;
	font-weight: bold;
}


footer p a:hover {
	color: white;
	text-decoration: none;
}