header {
	display: flex;	
	width: 100%;
	min-height: 120px;
	border-bottom: 1px solid black;
	background: bottom url(../img/headerbg.png);
}

header .header-wrapper {
	width: 90%;
	height: 100px;


	/*background-color: white;*/


	margin: 0 auto;
	margin-top: 10px;

	display: flex;
	justify-content: space-around;
}

header .header-wrapper .logo-wrapper {
	display: flex;
	width: 70%;
	height: 100px;


	/*background-color: blue;*/


	align-items: center;
}

header .header-wrapper .logo-wrapper p {
	margin-left: 15px;
	text-shadow: 5px 5px 10px black;
	font-style: italic;
	font-size: 20px;
}


header .header-wrapper .login-wrapper {
	width: 30%;
	height: 100px;


	/*background-color: orange;*/

	display: flex;
	justify-content: center;
	align-items: center;
}

header .header-wrapper .login-wrapper button {
	display: block;
	/* width: 40%; */
	width: 140px;
	height: 40px;
	margin-right: 10px;
}

header .header-wrapper .login-wrapper button a {
	color: white;
}

header .header-wrapper .login-wrapper p {
	background-color: black;
	border-radius: 5px;
	color: white;
	padding: 6px;

	font-style: italic;
	font-size: 20px;
}