main.container {
	min-height: 100px;
	/*border: 1px solid black;*/
	padding: 0;
}

main .article {
	margin-top: 20px;
	min-height: 50px;
	border: 1px solid green;
	border-radius: 5px;
	padding: 10px;
}

main .article p a {
	color: black;
	font-weight: bold;
	padding-left: 20px;
}

main .article button a {
	color: black;
}

main .article .read-all-wrapper {
	display: flex;
	justify-content: flex-end;
	margin-right: 10px;
	margin-bottom: 10px;
}

main .article .read-all-wrapper .read-all {
	color: white;
	background-color: #28a745;
	display: block;
	width: 200px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
}

.title-article {
	display: flex;
    justify-content: space-between;
}