.solo-article {
	margin-top: 20px;
}

.solo-article .meta-data-wrapper {
	display: flex;
	justify-content: space-between;
}

.solo-article .meta-data-wrapper p {
	max-width: 50%;
	font-style: italic;
}

.meta-data-wrapper .author-login {
	margin-left: 40px;
}

.meta-data-wrapper .created-date {
	margin-right: 40px;
}

.solo-article .title {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	font-style: italic;
}

.solo-article .text {
	text-indent: 20px;
}