.statictic .country {
	margin-top: 20px;
	border: 1px solid black;
}


.statictic .country .country-name {
	text-align: center;
	font-size: 22px;
	font-style: italic;
}

.statictic .country p {
	margin: 0 10px;
	font-size: 18px;
}

.statictic .country p .travo-kol {
	color: green;
}

.statictic .country p .ploto-kol {
	color: red;
}

.statictic .country p .vseyad-kol {
	color: blue;
}

.statictic .country p:last-child {
	text-align: right;
}